-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "apm_admins" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'admin',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "last_login" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_admins_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_lomba" (
    "id" SERIAL NOT NULL,
    "nama_lomba" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "deskripsi" TEXT,
    "kategori" TEXT NOT NULL,
    "tingkat" TEXT NOT NULL,
    "deadline" TIMESTAMP(3),
    "tanggal_pelaksanaan" TIMESTAMP(3),
    "penyelenggara" TEXT,
    "lokasi" TEXT,
    "sumber" TEXT NOT NULL DEFAULT 'internal',
    "tipe_pendaftaran" TEXT NOT NULL DEFAULT 'internal',
    "link_pendaftaran" TEXT,
    "custom_form" JSONB,
    "syarat_ketentuan" TEXT,
    "hadiah" JSONB,
    "biaya" INTEGER NOT NULL DEFAULT 0,
    "kontak_panitia" JSONB,
    "poster" TEXT,
    "tags" JSONB,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "is_urgent" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "is_deleted" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_lomba_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_lomba_registrations" (
    "id" SERIAL NOT NULL,
    "lomba_id" INTEGER NOT NULL,
    "nama" TEXT NOT NULL,
    "nim" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "whatsapp" TEXT NOT NULL,
    "fakultas" TEXT NOT NULL,
    "prodi" TEXT NOT NULL,
    "custom_data" JSONB,
    "status" TEXT NOT NULL DEFAULT 'registered',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_lomba_registrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_expo_settings" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "inactive_message" TEXT DEFAULT 'Belum ada expo saat ini. Nantikan update selanjutnya!',
    "next_expo_date" TIMESTAMP(3),
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_expo_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_expo" (
    "id" SERIAL NOT NULL,
    "nama_event" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "tema" TEXT,
    "deskripsi" TEXT,
    "tanggal_mulai" TIMESTAMP(3) NOT NULL,
    "tanggal_selesai" TIMESTAMP(3) NOT NULL,
    "lokasi" TEXT NOT NULL,
    "alamat_lengkap" TEXT,
    "tipe_pendaftaran" TEXT NOT NULL DEFAULT 'none',
    "link_pendaftaran" TEXT,
    "custom_form" JSONB,
    "registration_open" BOOLEAN NOT NULL DEFAULT false,
    "registration_deadline" TIMESTAMP(3),
    "max_participants" INTEGER,
    "biaya_partisipasi" INTEGER NOT NULL DEFAULT 0,
    "highlights" JSONB,
    "rundown" JSONB,
    "galeri" JSONB,
    "benefit" TEXT,
    "website_resmi" TEXT,
    "poster" TEXT,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'upcoming',
    "is_deleted" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_expo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_expo_registrations" (
    "id" SERIAL NOT NULL,
    "expo_id" INTEGER NOT NULL,
    "nama" TEXT NOT NULL,
    "nim" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "whatsapp" TEXT NOT NULL,
    "project_name" TEXT,
    "project_desc" TEXT,
    "custom_data" JSONB,
    "status" TEXT NOT NULL DEFAULT 'registered',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_expo_registrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_prestasi_submissions" (
    "id" SERIAL NOT NULL,
    "judul" TEXT NOT NULL,
    "nama_lomba" TEXT NOT NULL,
    "penyelenggara" TEXT,
    "tingkat" TEXT NOT NULL,
    "peringkat" TEXT NOT NULL,
    "tanggal" TIMESTAMP(3),
    "kategori" TEXT,
    "deskripsi" TEXT,
    "submitter_name" TEXT NOT NULL,
    "submitter_nim" TEXT NOT NULL,
    "submitter_email" TEXT NOT NULL,
    "submitter_whatsapp" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "reviewer_notes" TEXT,
    "reviewed_at" TIMESTAMP(3),
    "reviewed_by" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_prestasi_submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_prestasi_team_members" (
    "id" SERIAL NOT NULL,
    "submission_id" INTEGER NOT NULL,
    "nama" TEXT NOT NULL,
    "nim" TEXT NOT NULL,
    "prodi" TEXT,
    "angkatan" TEXT,
    "whatsapp" TEXT,
    "is_ketua" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "apm_prestasi_team_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_prestasi_pembimbing" (
    "id" SERIAL NOT NULL,
    "submission_id" INTEGER NOT NULL,
    "nama" TEXT NOT NULL,
    "nidn" TEXT,
    "whatsapp" TEXT,

    CONSTRAINT "apm_prestasi_pembimbing_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_prestasi_documents" (
    "id" SERIAL NOT NULL,
    "submission_id" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "label" TEXT,
    "file_path" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" TEXT NOT NULL,
    "file_size" INTEGER NOT NULL,

    CONSTRAINT "apm_prestasi_documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_prestasi" (
    "id" SERIAL NOT NULL,
    "submission_id" INTEGER NOT NULL,
    "judul" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "nama_lomba" TEXT NOT NULL,
    "tingkat" TEXT NOT NULL,
    "peringkat" TEXT NOT NULL,
    "tahun" INTEGER NOT NULL,
    "kategori" TEXT,
    "deskripsi" TEXT,
    "thumbnail" TEXT,
    "galeri" JSONB,
    "sertifikat" TEXT,
    "sertifikat_public" BOOLEAN NOT NULL DEFAULT false,
    "link_berita" TEXT,
    "link_portofolio" TEXT,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "is_published" BOOLEAN NOT NULL DEFAULT true,
    "published_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_prestasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apm_calendar_events" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT NOT NULL DEFAULT 'event',
    "color" TEXT DEFAULT '#3B82F6',
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3),
    "all_day" BOOLEAN NOT NULL DEFAULT true,
    "link" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apm_calendar_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "apm_admins_email_key" ON "apm_admins"("email");

-- CreateIndex
CREATE INDEX "apm_admins_email_idx" ON "apm_admins"("email");

-- CreateIndex
CREATE UNIQUE INDEX "apm_lomba_slug_key" ON "apm_lomba"("slug");

-- CreateIndex
CREATE INDEX "apm_lomba_slug_idx" ON "apm_lomba"("slug");

-- CreateIndex
CREATE INDEX "apm_lomba_status_idx" ON "apm_lomba"("status");

-- CreateIndex
CREATE INDEX "apm_lomba_deadline_idx" ON "apm_lomba"("deadline");

-- CreateIndex
CREATE INDEX "apm_lomba_registrations_lomba_id_idx" ON "apm_lomba_registrations"("lomba_id");

-- CreateIndex
CREATE INDEX "apm_lomba_registrations_email_idx" ON "apm_lomba_registrations"("email");

-- CreateIndex
CREATE INDEX "apm_lomba_registrations_nim_idx" ON "apm_lomba_registrations"("nim");

-- CreateIndex
CREATE UNIQUE INDEX "apm_expo_slug_key" ON "apm_expo"("slug");

-- CreateIndex
CREATE INDEX "apm_expo_slug_idx" ON "apm_expo"("slug");

-- CreateIndex
CREATE INDEX "apm_expo_status_idx" ON "apm_expo"("status");

-- CreateIndex
CREATE INDEX "apm_expo_registrations_expo_id_idx" ON "apm_expo_registrations"("expo_id");

-- CreateIndex
CREATE INDEX "apm_expo_registrations_email_idx" ON "apm_expo_registrations"("email");

-- CreateIndex
CREATE INDEX "apm_expo_registrations_nim_idx" ON "apm_expo_registrations"("nim");

-- CreateIndex
CREATE INDEX "apm_prestasi_submissions_status_idx" ON "apm_prestasi_submissions"("status");

-- CreateIndex
CREATE INDEX "apm_prestasi_submissions_submitter_nim_idx" ON "apm_prestasi_submissions"("submitter_nim");

-- CreateIndex
CREATE INDEX "apm_prestasi_team_members_submission_id_idx" ON "apm_prestasi_team_members"("submission_id");

-- CreateIndex
CREATE INDEX "apm_prestasi_pembimbing_submission_id_idx" ON "apm_prestasi_pembimbing"("submission_id");

-- CreateIndex
CREATE INDEX "apm_prestasi_documents_submission_id_idx" ON "apm_prestasi_documents"("submission_id");

-- CreateIndex
CREATE INDEX "apm_prestasi_documents_type_idx" ON "apm_prestasi_documents"("type");

-- CreateIndex
CREATE UNIQUE INDEX "apm_prestasi_submission_id_key" ON "apm_prestasi"("submission_id");

-- CreateIndex
CREATE UNIQUE INDEX "apm_prestasi_slug_key" ON "apm_prestasi"("slug");

-- CreateIndex
CREATE INDEX "apm_prestasi_slug_idx" ON "apm_prestasi"("slug");

-- CreateIndex
CREATE INDEX "apm_prestasi_tahun_idx" ON "apm_prestasi"("tahun");

-- CreateIndex
CREATE INDEX "apm_prestasi_is_published_idx" ON "apm_prestasi"("is_published");

-- CreateIndex
CREATE INDEX "apm_calendar_events_start_date_idx" ON "apm_calendar_events"("start_date");

-- CreateIndex
CREATE INDEX "apm_calendar_events_is_active_idx" ON "apm_calendar_events"("is_active");

-- AddForeignKey
ALTER TABLE "apm_lomba_registrations" ADD CONSTRAINT "apm_lomba_registrations_lomba_id_fkey" FOREIGN KEY ("lomba_id") REFERENCES "apm_lomba"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "apm_expo_registrations" ADD CONSTRAINT "apm_expo_registrations_expo_id_fkey" FOREIGN KEY ("expo_id") REFERENCES "apm_expo"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "apm_prestasi_team_members" ADD CONSTRAINT "apm_prestasi_team_members_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "apm_prestasi_submissions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "apm_prestasi_pembimbing" ADD CONSTRAINT "apm_prestasi_pembimbing_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "apm_prestasi_submissions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "apm_prestasi_documents" ADD CONSTRAINT "apm_prestasi_documents_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "apm_prestasi_submissions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "apm_prestasi" ADD CONSTRAINT "apm_prestasi_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "apm_prestasi_submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

